@media only screen and (max-width:600px) {

    .carousel-inner{
        border-radius: 30px;
    }

    
    .first-left2 h1{
        width: 85%;
        padding-top: 100px;
        font-size: 45px !important;
        text-align: center;
    }
    .first-left2 p{
        width: 85%;
        font-size: 15px !important;
        text-align: center;
    }
    .first-right1 {
        min-height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 2px solid red; */
    }
    .text-fourth h1{
        font-size: 30px !important;
    }
    .fourth-img img{
        width: 300px !important;
        height: 300px !important;
    }
    .fifth-left{
        padding-left: 20px !important;
        padding-bottom: 20px;
    }
    .number-eight{
        height: 150px !important;
       padding-top: 30px;
    }
    .number-ninth{
        height: 150px !important;
    }
    .number-tenth{
        height: 150px !important;
    }
    .text-tenth{
        height: 110px !important;
    }
    .number-eleven{
        height: 150px !important;
    }
    .text-eleven{
        height: 110px !important;
    }
    .text-left-right{
        padding: 0 !important;
        margin-bottom: 20px;
        /* border: 2px solid red; */
    }
    .sixthteen-con{
        min-height: auto !important;
    }
    .left-sixthteen{
        min-height: 400px !important;
        padding: 0;
        /* border: 2px solid red; */
    }

}

@media only screen and (max-width:435px) {
    
    .head-first{
        font-size: 40px !important;
        text-align: center;
        width: 100% !important;
    }

    .para-first{
        font-size: 17px !important;
        width: 100% !important;
        padding: 10px;
        text-align: center;
    }

    .left-text {
        height: 500px;
    }

    .right-text{

        height: 180px !important;
    }

    .carousel-inner{

        border-radius: 20px !important;
    }
    .text-eight {

        height: 100px !important;
    }
    .text-ninth {

        height: 95px !important;
    }
    .basila {


        font-size: 13px !important;
    }
    
    .signature {


        width: 100px !important;
    }
    .fourthteen-con {

        height: 170vh !important;
    }
    .fifthteen {
        display: flex; align-items: center; justify-content: center; flex-direction: column;
        margin-top: 200px !important;
        height: 90vh !important;
    }
    .sixthteen-con{
        min-height: 140vh !important;
    }
    .left-sixthteen{
        min-height: auto!important;
        /* border: 2px solid blue; */
    }
    .right-sixthteen {
margin-top: 100px;
        min-height: auto !important;
    }
    .image-own {

        width: 100px !important;
        height: 100px !important;
    }
    .onen-text {

        font-size: 17px !important;
    }
    .carousel-para {

        font-size: 20px !important;
    }
    .testimon {

        height: 69px !important;
    } 
    .eighthteen-head {

        font-size: 40px !important;
    }
    .left-20 {

        min-height: 200px !important;
    }
    .left-2-20 {

        min-height: 400px !important;
    }
    .touchh {

        font-size: 30px !important;
        margin-left: -10px !important;
    }
    .right-1-20 {

        min-height: 150px !important;
    }
    .right-2-20 {

        min-height: 150px !important;
    }
    .left-bottom-20 {

        min-height: 200px !important;
    } 
    .left-bottom-20  h1{

        font-size: 40px !important;
    } 
    .right-bottom-20 {

        min-height: 450px !important;
    }
    .first-con {
        overflow: hidden !important;
    }
    .second-con {
        overflow: hidden !important;
    }
    .third-con {
        overflow: hidden !important;
    }
    .fourth-con {
        overflow: hidden !important;
    }
    .fifth-con {
        overflow: hidden !important;
    }
    .sixth-con {
        overflow: hidden !important;
    }
    .seventh-con {
        overflow: hidden !important;
    }
    .eight-con {
        overflow: hidden !important;
    }
    .ninth-con {
        overflow: hidden !important;
    }
    .tenth-con {
        overflow: hidden !important;
    }
    .eleventh-con {
        overflow: hidden !important;
    }
    .twelfth-con {
        overflow: hidden !important;
    }
    .fifthteen-con {
        overflow: hidden !important;
    }
    .sixthteen-con {
        overflow: hidden !important;
    }
    .seventhteen-con {
        overflow: hidden !important;
    }
    .ninthteen-con {
        overflow: hidden !important;
    }
    .twenthteen-con {
        overflow: hidden !important;
    }
    /* ---------------------------splash-screen */



}
